*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #282a36;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
}
.container .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,1);
    border-radius: 50px;
    background: transparent;
    background-position: 50% 2%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 10px rgba(255,255,255,1);
    border-left: 10px rgba(255,255,255,1);
}
.container .card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 2s;
}
.container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}
.container .card .content h1{
    position: relative;
    font-size: 1.8em;
    color: rgb(170, 0, 248);
    pointer-events: none;
}

